**ctrlX Outputs Data Analysis**

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [21]:
# Read the csv file
input_file = "ctrlx_outputs.csv"
df = pd.read_csv(input_file)

In [22]:
df.shape

(72, 5)

In [23]:
df.head()

   id red_lamp green_lamp buzzer            timestamp
0   1     true         \N     \N  2024-02-28 14:48:34
1   2       \N      false     \N  2024-02-28 14:48:34
2   3       \N         \N  false  2024-02-28 14:48:34
3   4     true         \N     \N  2024-02-28 14:48:35
4   5       \N      false     \N  2024-02-28 14:48:35

In [24]:
df.tail()

    id red_lamp green_lamp buzzer            timestamp
67  68       \N      false     \N  2024-02-28 14:48:56
68  69       \N         \N  false  2024-02-28 14:48:56
69  70       \N      false     \N  2024-02-28 14:48:57
70  71     true         \N     \N  2024-02-28 14:48:57
71  72       \N         \N  false  2024-02-28 14:48:57

Based on observation, there are "\N" values which are Null values.

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          72 non-null     int64
 1   red_lamp    72 non-null     object
 2   green_lamp  72 non-null     object
 3   buzzer      72 non-null     object
 4   timestamp   72 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.9+ KB

In [26]:
# Convert strings to DateTime object
type(df["timestamp"][1]) # output: str
df["timestamp"] = pd.to_datetime(df["timestamp"])
type(df["timestamp"][1]) # output: timetime
df["timestamp"]

0    2024-02-28 14:48:34
1    2024-02-28 14:48:34
2    2024-02-28 14:48:34
3    2024-02-28 14:48:35
4    2024-02-28 14:48:35
             ...
67   2024-02-28 14:48:56
68   2024-02-28 14:48:56
69   2024-02-28 14:48:57
70   2024-02-28 14:48:57
71   2024-02-28 14:48:57
Name: timestamp, Length: 72, dtype: datetime64[ns]

In [27]:
df.isnull().values.any()

False