# Machine Failure Prediction using Random Forest Classifier

Steps 1-6 according to Data Science Life Cycle (source: YouTube IBM Technology)

## 1. Business Understanding (Role of Business Analyst)
* Critical to ask and formulate the right questions

## 2. Data Mining (Role of Data Engineer)
* Procuring the data that we need for the analysis

### 2.1 Import our dataset from Kaggle

In [1]:
!kaggle datasets download -d ikjotsingh221/machine-failure-cleaned

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.14 / client 1.6.12)
Dataset URL: https://www.kaggle.com/datasets/ikjotsingh221/machine-failure-cleaned
License(s): other
machine-failure-cleaned.zip: Skipping, found more recently modified local copy (use --force to force download)

2024-05-22 16:26:53,681 WARNING Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'RemoteDisconnected('Remote end closed connection without response')': /api/v1/datasets/metadata/ikjotsingh221/machine-failure-cleaned
2024-05-22 16:27:10,244 WARNING Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'RemoteDisconnected('Remote end closed connection without response')': /api/v1/datasets/metadata/ikjotsingh221/machine-failure-cleaned

### 2.2 Extract the csv file

In [2]:
import zipfile

with zipfile.ZipFile("machine-failure-cleaned.zip") as f:
    f.extractall(path="")

### 2.3 Create the dataframe with Pandas

In [3]:
import pandas as pd

df = pd.read_csv("machine_failure_cleaned.csv")

### 2.4 Inspect the data

In [4]:
df.head()

,Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,Machine failure
0,1551,42.8,0,0,0,0,0,0
1,1408,46.3,3,0,0,0,0,0
2,1498,49.4,5,0,0,0,0,0
3,1433,39.5,7,0,0,0,0,0
4,1408,40.0,9,0,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9815 entries, 0 to 9814
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rotational speed [rpm]  9815 non-null   int64
 1   Torque [Nm]             9815 non-null   float64
 2   Tool wear [min]         9815 non-null   int64
 3   TWF                     9815 non-null   int64
 4   HDF                     9815 non-null   int64
 5   PWF                     9815 non-null   int64
 6   OSF                     9815 non-null   int64
 7   Machine failure         9815 non-null   int64
dtypes: float64(1), int64(7)
memory usage: 613.6 KB

In [6]:
df.describe()

,Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,Machine failure
count,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000
mean,1526.383393,40.330015,107.913602,0.004483,0.011717,0.004483,0.009577,0.029139
std,147.306781,9.420254,63.626881,0.066808,0.107613,0.066808,0.097398,0.168205
min,1168.000000,16.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1422.000000,33.600000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1501.000000,40.200000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1606.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2076.000000,68.900000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df.isna().value_counts()

Rotational speed [rpm]  Torque [Nm]  Tool wear [min]  TWF    HDF    PWF    OSF    Machine failure
False                   False        False            False  False  False  False  False              9815
Name: count, dtype: int64

In [8]:
df.duplicated().sum()

6

## 3. Data Cleaning (Role of Data Engineer)
* In reality, Data is not in the best format and probably has some issue such as rows with missing/ duplicate values

## 4. Data Exploration (Role of Data Engineer, Data Scientist)
* A process that allows us to use different analytical tools that can start helping us answer the type of questions earlier

## 5. Machine Learning (Advanced Analytical Tool, role of Data Scientist)
* Leverage on high computer power and high quality data to make predictions and prescribe actions for the future

## 6. Visualization (Role of Business Analyst, Data Scientist)
* Visualize our insights and outcomes of our analysis