In [1]:
import pandas as pd

df = pd.read_csv("predictive_maintenance.csv")
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure

In [2]:
df.tail()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [3]:
df.shape

(10000, 10)

In [4]:
df.isna().sum()

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Target                     0
Failure Type               0
dtype: int64

In [5]:
df.columns

Index(['UDI', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'Target', 'Failure Type'],
      dtype='object')

In [6]:
df.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900
std,2886.89568,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000
25%,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000
50%,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000
75%,7500.25000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Target                   10000 non-null  int64
 9   Failure Type             10000 non-null  object
dtypes: float64(3), int64(4), object(3)
memory usage: 781.4+ KB

In [8]:
df.max()

UDI                                    10000
Product ID                            M24859
Type                                       M
Air temperature [K]                    304.5
Process temperature [K]                313.8
Rotational speed [rpm]                  2886
Torque [Nm]                             76.6
Tool wear [min]                          253
Target                                     1
Failure Type               Tool Wear Failure
dtype: object

In [9]:
df.min()

UDI                                               1
Product ID                                   H29424
Type                                              H
Air temperature [K]                           295.3
Process temperature [K]                       305.7
Rotational speed [rpm]                         1168
Torque [Nm]                                     3.8
Tool wear [min]                                   0
Target                                            0
Failure Type               Heat Dissipation Failure
dtype: object

In [10]:
df.sample(5)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
28,29,L47208,L,299.1,309.4,1439,44.2,82,0,No Failure
8231,8232,L55411,L,299.1,310.5,1419,48.8,76,0,No Failure
4505,4506,L51685,L,302.4,310.1,1426,46.8,95,0,No Failure
9532,9533,L56712,L,299.2,310.5,1384,48.7,93,0,No Failure
6639,6640,L53819,L,301.4,310.5,1380,48.4,131,0,No Failure

In [11]:
# convert the temperature unit from Kelvin (K) to Celsius (C) on columns "Air temperature [K]" and "Process temperature [K]" and replace the old columns with new columns
# here is the formula: C = K - 273.15
df["Air temperature [C]"] = df["Air temperature [K]"] - 273.15
df["Process temperature [C]"] = df["Process temperature [K]"] - 273.15

In [12]:
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C],Process temperature [C]
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure,24.95,35.45
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure,25.05,35.55
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure,24.95,35.35
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure,25.05,35.45
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure,25.05,35.55

In [14]:
df = df.drop("Air temperature [K]", axis=1)

In [16]:
df = df.drop("Process temperature [K]", axis=1)

In [17]:
df.head()

,UDI,Product ID,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C],Process temperature [C]
0,1,M14860,M,1551,42.8,0,0,No Failure,24.95,35.45
1,2,L47181,L,1408,46.3,3,0,No Failure,25.05,35.55
2,3,L47182,L,1498,49.4,5,0,No Failure,24.95,35.35
3,4,L47183,L,1433,39.5,7,0,No Failure,25.05,35.45
4,5,L47184,L,1408,40.0,9,0,No Failure,25.05,35.55

In [19]:
# Split the dataset into features (X) and target (y)
X = df.drop("Target", axis=1)
y = df["Target"]

In [21]:
X.head()

,UDI,Product ID,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Failure Type,Air temperature [C],Process temperature [C]
0,1,M14860,M,1551,42.8,0,No Failure,24.95,35.45
1,2,L47181,L,1408,46.3,3,No Failure,25.05,35.55
2,3,L47182,L,1498,49.4,5,No Failure,24.95,35.35
3,4,L47183,L,1433,39.5,7,No Failure,25.05,35.45
4,5,L47184,L,1408,40.0,9,No Failure,25.05,35.55

In [22]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Target, dtype: int64

In [23]:
# split the dataset into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [24]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 9), (2000, 9), (8000,), (2000,))

In [25]:
# import ML algorithm/ estimator
from sklearn.ensemble import RandomForestRegressor
import numpy as np

np.random.seed(42)

model = RandomForestRegressor()

In [26]:
model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [29]:
# fit the training data
# model.fit(X_train, y_train) # output: ValueError: could not convert string to float: "M21406"

Now, we need to convert the data type from string to numerical.

In [34]:
# drop the UDI column because it is not relevant
df = df.drop("UDI", axis=1)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product ID               10000 non-null  object
 1   Type                     10000 non-null  object
 2   Rotational speed [rpm]   10000 non-null  int64
 3   Torque [Nm]              10000 non-null  float64
 4   Tool wear [min]          10000 non-null  int64
 5   Target                   10000 non-null  int64
 6   Failure Type             10000 non-null  object
 7   Air temperature [C]      10000 non-null  float64
 8   Process temperature [C]  10000 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 703.3+ KB

In [36]:
df.head()

,Product ID,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C],Process temperature [C]
0,M14860,M,1551,42.8,0,0,No Failure,24.95,35.45
1,L47181,L,1408,46.3,3,0,No Failure,25.05,35.55
2,L47182,L,1498,49.4,5,0,No Failure,24.95,35.35
3,L47183,L,1433,39.5,7,0,No Failure,25.05,35.45
4,L47184,L,1408,40.0,9,0,No Failure,25.05,35.55

In [47]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Product ID", 
                        "Type", 
                        "Failure Type"]

one_hot = OneHotEncoder(sparse_output=False)
transformer = ColumnTransformer([("one_hot",
                                one_hot,
                                categorical_features)],
                                remainder="passthrough")

transformed_X_train = transformer.fit_transform(X_train)
transformed_X_test = transformer.fit_transform(X_test)

In [48]:
pd.DataFrame(transformed_X_train)

,0,1,2,3,4,5,6,7,8,9,...,8005,8006,8007,8008,8009,8010,8011,8012,8013,8014
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6547.0,1530.0,39.9,107.0,28.25,37.65
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5294.0,1464.0,49.1,171.0,30.75,40.25
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7556.0,1332.0,60.5,112.0,27.15,38.15
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3132.0,1660.0,32.7,57.0,26.95,36.35
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9508.0,1505.0,38.8,30.0,26.15,37.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1325.0,1243.0,74.5,194.0,25.65,36.95
7996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2828.0,1412.0,51.6,153.0,27.25,36.25
7997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4144.0,1500.0,39.6,56.0,28.55,36.95
7998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6018.0,1398.0,38.2,50.0,27.65,37.75
7999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6096.0,1452.0,47.3,25.0,27.75,37.55

In [49]:
dummies = pd.get_dummies(X_train)
dummies

,UDI,Rotational speed [rpm],Torque [Nm],Tool wear [min],Air temperature [C],Process temperature [C],Product ID_H29424,Product ID_H29425,Product ID_H29432,Product ID_H29434,...,Product ID_M24859,Type_H,Type_L,Type_M,Failure Type_Heat Dissipation Failure,Failure Type_No Failure,Failure Type_Overstrain Failure,Failure Type_Power Failure,Failure Type_Random Failures,Failure Type_Tool Wear Failure
6546,6547,1530,39.9,107,28.25,37.65,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
5293,5294,1464,49.1,171,30.75,40.25,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
7555,7556,1332,60.5,112,27.15,38.15,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
3131,3132,1660,32.7,57,26.95,36.35,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
9507,9508,1505,38.8,30,26.15,37.35,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1324,1325,1243,74.5,194,25.65,36.95,False,False,False,False,...,False,False,False,True,False,False,False,True,False,False
2827,2828,1412,51.6,153,27.25,36.25,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
4143,4144,1500,39.6,56,28.55,36.95,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
6017,6018,1398,38.2,50,27.65,37.75,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
6095,6096,1452,47.3,25,27.75,37.55,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False

In [50]:
model.fit(transformed_X_train, y_train)

RandomForestRegressor()

In [52]:
# model.score(transformed_X_test, y_test)