In [38]:
import pandas as pd

df = pd.read_csv("predictive_maintenance.csv")
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure

In [39]:
df.tail()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [40]:
df.shape

(10000, 10)

In [41]:
df.isna().sum()

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Target                     0
Failure Type               0
dtype: int64

In [42]:
df.columns

Index(['UDI', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'Target', 'Failure Type'],
      dtype='object')

In [43]:
df.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900
std,2886.89568,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000
25%,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000
50%,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000
75%,7500.25000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Target                   10000 non-null  int64
 9   Failure Type             10000 non-null  object
dtypes: float64(3), int64(4), object(3)
memory usage: 781.4+ KB

In [45]:
df.max()

UDI                                    10000
Product ID                            M24859
Type                                       M
Air temperature [K]                    304.5
Process temperature [K]                313.8
Rotational speed [rpm]                  2886
Torque [Nm]                             76.6
Tool wear [min]                          253
Target                                     1
Failure Type               Tool Wear Failure
dtype: object

In [46]:
df.min()

UDI                                               1
Product ID                                   H29424
Type                                              H
Air temperature [K]                           295.3
Process temperature [K]                       305.7
Rotational speed [rpm]                         1168
Torque [Nm]                                     3.8
Tool wear [min]                                   0
Target                                            0
Failure Type               Heat Dissipation Failure
dtype: object

In [47]:
df.sample(5)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
4695,4696,L51875,L,303.3,311.6,1514,34.7,130,0,No Failure
5743,5744,M20603,M,302.2,311.6,1379,42.9,13,0,No Failure
311,312,M15171,M,298.0,308.6,1453,44.1,165,0,No Failure
8131,8132,H37545,H,299.9,311.2,1364,49.6,50,0,No Failure
5471,5472,L52651,L,302.7,312.3,1346,61.2,170,0,Random Failures

In [48]:
# convert the temperature unit from Kelvin (K) to Celsius (C) on columns "Air temperature [K]" and "Process temperature [K]" and replace the old columns with new columns
# here is the formula: C = K - 273.15
df["Air temperature [C]"] = df["Air temperature [K]"] - 273.15
df["Process temperature [C]"] = df["Process temperature [K]"] - 273.15

In [49]:
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C],Process temperature [C]
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure,24.95,35.45
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure,25.05,35.55
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure,24.95,35.35
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure,25.05,35.45
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure,25.05,35.55

In [50]:
df = df.drop("Air temperature [K]", axis=1)

In [51]:
df = df.drop("Process temperature [K]", axis=1)

In [52]:
df.head()

,UDI,Product ID,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C],Process temperature [C]
0,1,M14860,M,1551,42.8,0,0,No Failure,24.95,35.45
1,2,L47181,L,1408,46.3,3,0,No Failure,25.05,35.55
2,3,L47182,L,1498,49.4,5,0,No Failure,24.95,35.35
3,4,L47183,L,1433,39.5,7,0,No Failure,25.05,35.45
4,5,L47184,L,1408,40.0,9,0,No Failure,25.05,35.55

In [53]:
# Split the dataset into features (X) and target (y)
X = df.drop("Target", axis=1)
y = df["Target"]

In [54]:
X.head()

,UDI,Product ID,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Failure Type,Air temperature [C],Process temperature [C]
0,1,M14860,M,1551,42.8,0,No Failure,24.95,35.45
1,2,L47181,L,1408,46.3,3,No Failure,25.05,35.55
2,3,L47182,L,1498,49.4,5,No Failure,24.95,35.35
3,4,L47183,L,1433,39.5,7,No Failure,25.05,35.45
4,5,L47184,L,1408,40.0,9,No Failure,25.05,35.55

In [55]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Target, dtype: int64

In [56]:
# split the dataset into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [57]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 9), (2000, 9), (8000,), (2000,))

In [58]:
# import ML algorithm/ estimator
from sklearn.ensemble import RandomForestRegressor
import numpy as np

np.random.seed(42)

model = RandomForestRegressor()

In [59]:
model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 1.0,
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [60]:
# fit the training data
# model.fit(X_train, y_train) # output: ValueError: could not convert string to float: "M21406"

Now, we need to convert the data type from string to numerical.

In [61]:
# drop the UDI column because it is not relevant
df = df.drop("UDI", axis=1)
df = df.drop("Product ID", axis=1)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Type                     10000 non-null  object
 1   Rotational speed [rpm]   10000 non-null  int64
 2   Torque [Nm]              10000 non-null  float64
 3   Tool wear [min]          10000 non-null  int64
 4   Target                   10000 non-null  int64
 5   Failure Type             10000 non-null  object
 6   Air temperature [C]      10000 non-null  float64
 7   Process temperature [C]  10000 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 625.1+ KB

In [63]:
df.head()

,Type,Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C],Process temperature [C]
0,M,1551,42.8,0,0,No Failure,24.95,35.45
1,L,1408,46.3,3,0,No Failure,25.05,35.55
2,L,1498,49.4,5,0,No Failure,24.95,35.35
3,L,1433,39.5,7,0,No Failure,25.05,35.45
4,L,1408,40.0,9,0,No Failure,25.05,35.55

In [64]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Type", 
                        "Failure Type"]

one_hot = OneHotEncoder(sparse_output=False)
transformer = ColumnTransformer([("one_hot",
                                one_hot,
                                categorical_features)],
                                remainder="passthrough")

transformed_X_train = transformer.fit_transform(X_train)
transformed_X_test = transformer.fit_transform(X_test)

In [65]:
pd.DataFrame(transformed_X_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6713,H36126,1516,36.4,83,28.25,37.55
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2113,L49292,1852,22.6,77,26.35,35.95
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2322,M17181,1314,52.5,193,26.05,35.65
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8430,L55609,1577,40.0,181,25.85,37.15
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2761,L49940,1400,42.6,210,26.65,36.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,6283,M21142,1418,45.4,59,28.15,37.65
7996,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4944,H34357,1436,42.0,110,30.45,39.45
7997,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,4513,M19372,1411,49.5,110,29.35,37.15
7998,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1194,L48373,1347,50.8,49,23.95,35.05
7999,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,46,L47225,1489,49.1,128,25.65,35.95

In [66]:
dummies = pd.get_dummies(X_train)
dummies

,UDI,Rotational speed [rpm],Torque [Nm],Tool wear [min],Air temperature [C],Process temperature [C],Product ID_H29425,Product ID_H29432,Product ID_H29434,Product ID_H29441,...,Product ID_M24859,Type_H,Type_L,Type_M,Failure Type_Heat Dissipation Failure,Failure Type_No Failure,Failure Type_Overstrain Failure,Failure Type_Power Failure,Failure Type_Random Failures,Failure Type_Tool Wear Failure
6712,6713,1516,36.4,83,28.25,37.55,False,False,False,False,...,False,True,False,False,False,True,False,False,False,False
2112,2113,1852,22.6,77,26.35,35.95,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
2321,2322,1314,52.5,193,26.05,35.65,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
8429,8430,1577,40.0,181,25.85,37.15,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
2760,2761,1400,42.6,210,26.65,36.05,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6282,6283,1418,45.4,59,28.15,37.65,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
4943,4944,1436,42.0,110,30.45,39.45,False,False,False,False,...,False,True,False,False,False,True,False,False,False,False
4512,4513,1411,49.5,110,29.35,37.15,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
1193,1194,1347,50.8,49,23.95,35.05,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
45,46,1489,49.1,128,25.65,35.95,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False

In [67]:
model.fit(transformed_X_train, y_train)

ValueError: could not convert string to float: 'H36126'

In [ ]:
model.score(transformed_X_test, y_test)

ValueError: X has 2015 features, but RandomForestRegressor is expecting 8015 features as input.